/**
 * The author of the file is Yaswanth Chiruvella - B00849892.
 */
.form Label {
  font-weight: 600;
}

.heading {
  padding: 50px 30px 50px 30px;
  margin: 0px auto;
  background: #9575cd;
  text-align: center;
}
